*.uci linguist-language=UnrealScript
*.int linguist-language=INI
*.sql linguist-language=PLpgSQL
*.html linguist-language=HTML

*.sql linguist-detectable=true
*.html linguist-detectable=true

.github/pages/** linguist-detectable=true
